<div class='container mx-auto my-5'>
<div class='grid grid-cols-3 gap-10'>
    <table class='col-span-3'>
        <tbody>
            <% @books.each do |book|%>
                <tr class='<%= cycle('bg-red-50', 'bg-white') %> shadow'>
                    <td class='px-2 py-3'>
                        <%=image_tag(book.cover_url, class: 'w-48')%>
                    </td>
                    <td>
                        <h1 class='text-xl font-bold mb-3 hover:underline cursor-pointer'><%=book.title%></h1>
                        <p class='max-w-xl'><%=truncate(book.description, length: 200)%></p>
                    </td>
                </tr>
            <% end%>
        </tbody>
    </table>
</div>
</div>